.row1,
.row2,
.row3 {
    display: flex;
    gap: 20px;
}

body {
    background-color: #B2533E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:14vw;
}

table{
    height: 10vw;
}
.boxes {
    height: 11vw;
    width: 11vw;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #26bead;
    font-size: 8vw;
    font-weight: 500;
    box-shadow: 2px 2px 8px 2px #26bead;
    color: #e46d0d;
}

.hide {
    display: none;
}

.hide2 {
    display: none;
}

.container {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    margin-bottom: 20px;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    border: 3px dashed rgb(6, 248, 135);
    font-weight: 600;
    background-color: burlywood;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Main ,.Main2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.Main button {
    margin-bottom: 20px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: 3px outset rgb(9, 114, 235);
    font-weight: 600;
    background-color: burlywood;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Main2 button {
    margin-bottom: 20px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: 3px outset rgb(9, 114, 235);
    font-weight: 600;
    background-color: burlywood;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Main p {
    font-size: 6vw;
    color: chartreuse;
    transition: cubic-bezier(0, 1.81, 1, 1.6);
}

.Main2 p {
    font-size: 6vw;
    color: chartreuse;
    transition: cubic-bezier(0, 1.81, 1, 1.6);

}

center p {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgb(255, 251, 0);
    text-shadow: 2px 2px 4px rgba(185, 7, 7, 0.3);
    text-decoration-color: blueviolet;
    text-decoration-style: wavy;
}

@media screen and (max-width:298px) {
    .row1,
    .row2,
    .row3 {
        display: flex;
        gap: 10px;
    }
    
    body {
        background-color: #B2533E;
    }
    
    .boxes {
        height: 11vw;
        width: 11vw;
        border: 1px solid black;
        border-radius: 15px;
        background-color: #26bead;
        font-size: 8vw;
        font-weight: 500;
        box-shadow: 1px 1px 4px 1px #26bead;
        color: #e46d0d;
    }
    
    .hide {
        display: none;
    }
    
    .hide2 {
        display: none;
    }
    
    .container {
        display: flex;
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .reset {
        margin-bottom: 20px;
        width: 60px;
        height: 30px;
        border-radius: 15px;
        border: 3px dashed rgb(6, 248, 135);
        font-weight: 600;
        background-color: burlywood;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .Main ,.Main2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }
    
    .Main button {
        margin-bottom: 20px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: 3px outset rgb(9, 114, 235);
        font-weight: 600;
        background-color: burlywood;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .Main2 button {
        margin-bottom: 20px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: 3px outset rgb(9, 114, 235);
        font-weight: 600;
        background-color: burlywood;
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


    
    center p {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: rgb(255, 251, 0);
        text-shadow: 2px 2px 4px rgba(185, 7, 7, 0.3);
        text-decoration-color: blueviolet;
        text-decoration-style: wavy;
    }
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 21vw;
    margin: auto;
    background-color: burlywood;
}

th, td {
    border: 1px solid burlywood;
    padding: 8px;
}

th {
    background-color: #978e0e;
    font-size: 1.7vw;
    font-weight: 600;
}

td {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}
.scoreheading{
    height: 4vw;
    width: 21vw;
    background-color: #940909;
    font-size:1.7vw;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.scoreheading h1{
    padding: auto;
}
.sO,.sX{
    font-weight: 800;
    font-size: xx-large;
}